{% extends "layouts/base.html" %}

{% block title %} Create Project {% endblock title %}

{% block stylesheets %}

<style>
    .progress-row {
        display: flex;
        justify-content: space-around;
        background-color: white;
    }

    .progress-row__organization {
        display: flex;
        width: 33%;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(to right bottom, #48abf7, #48abf7);
        clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
        margin-right: -55px;
        margin-left: -30px;
        color: white;
    }

    .progress-row__project {
        display: flex;
        width: 33%;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(to right bottom, #e7e7e7, #f7f7f7);
        clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%, 5% 50%);
        margin-right: -55px;
    }

    .progress-row_subscription {
        display: flex;
        width: 33%;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(to right bottom, #e7e7e7, #f7f7f7);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 5% 50%);
        margin-right: -30px;
    }

    .progress-text {
        font-size: 20px;
        padding: 10px;
        margin-left: 30px;
    }

    .fa-cst {
        color: white;
    }

    .icon-cst {
        font-size: 50px;
        margin-top: -14px;
        margin-bottom: -14px;
        color: white;
    }

</style>

{% include 'countryJs.html' %}

{% endblock stylesheets %}

{% block content %}
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Create Project</h4>
                </div>
                <div class="card-body p-0">
                    <div class="progress-row">
                        <div class="progress-row__organization">
                            <span class="progress-text">Organization</span>
                            <!-- <i class="flaticon-right-arrow icon-cst"></i> -->
                        </div>
                        <div class="progress-row__project">
                            <span class="progress-text">Project</span>
                            <!-- <i class="flaticon-right-arrow icon-cst"></i> -->
                        </div>
                        <div class="progress-row_subscription">
                            <span class="progress-text">Subscription</span>
                        </div>
                    </div>
                </div>
                <div id="org_form">
                    {% include 'organization_form.html' %}
                </div>
                <div id="proj_form" style="display: none;">
                    {% include 'project_form.html' %}
                </div>
                <div id="sub_form" style="display: none;">
                    {% include 'subscription_form.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
<input id="user_id" value="{{ request.user.id }}" style="display: none;">
<input id="org_id" value="{{ org.id }}" style="display: none;">
{% endblock content %}

{% block javascripts %}
<script>
    let organization_id;

    function showProjectForm() {
        $("#org_form").css("display", "none")
        $("#proj_form").css("display", "block")
        $(".progress-row__organization").css("background-image", "linear-gradient(to right bottom, #e7e7e7, #f7f7f7)")
        $(".progress-row__organization").css("color", "black")
        $(".progress-row__project").css("background-image", "linear-gradient(to right bottom, #48abf7, #48abf7)")
        $(".progress-row__project").css("color", "white")
        var payload = {
            "user": $("#user_id").val(),
            "org_name": $("#name").val(),
            "comm_address1": $("#comm_address1").val(),
            "comm_address2": $("#comm_address2").val(),
            "comm_country": $("#comm_country").val(),
            "comm_state": $("#comm_state").val(),
            "comm_city": $("#comm_city").val(),
            "comm_phone": $("#comm_phone").val(),
            "comm_email": $("#comm_email").val(),
            "comm_gstin": $("#comm_gstin").val(),
            "bill_address1": $("#bill_address1").val(),
            "bill_address2": $("#bill_address2").val(),
            "bill_country": $("#bill_country").val(),
            "bill_state": $("#bill_state").val(),
            "bill_city": $("#bill_city").val(),
            "bill_phone": $("#bill_phone").val(),
            "bill_email": $("#bill_email").val(),
            "bill_gstin": $("#bill_gstin").val(),
        }

        $.ajax({
            url: "/create_org",
            type: "POST",
            dataType: 'json',
            headers: { "X-CSRFToken": $.cookie('csrftoken') },
            data: payload,
            success: function (data) {
                organization_id = data.id
            }
        })
    }

    let project_id

    function showSubscriptionForm() {
        $("#proj_form").css("display", "none")
        $("#sub_form").css("display", "block")
        $(".progress-row__project").css("background-image", "linear-gradient(to right bottom, #e7e7e7, #f7f7f7)")
        $(".progress-row__project").css("color", "black")
        $(".progress-row_subscription").css("background-image", "linear-gradient(to right bottom, #48abf7, #48abf7)")
        $(".progress-row_subscription").css("color", "white")

        let final_id

        if (organization_id) {
            final_id = organization_id
        }

        else {
            final_id = $("#org_id").val()
        }

        var payload = {
            "user": $("#user_id").val(),
            "organization": final_id,
            "title": $("#title").val(),
            "description": $("#description").val(),
            "start_date": $("#start").val(),
            "end_date": $("#end").val(),
            "duration": "",
            "subscribed_plan": "",
            "anykey": "anyvalue",
        }
        $.ajax({
            url: "/create_proj",
            type: "POST",
            dataType: 'json',
            headers: { "X-CSRFToken": $.cookie('csrftoken') },
            data: payload,
            success: function (data) {
                project_id = data.id
            }
        })
    }

    function subscribePlan(id) {
        const payload = {
                "subscribed_plan": id
            }

        $.ajax({
            url: "/subscribe/" + project_id,
            type: "PUT",
            dataType: 'json',
            headers: { "X-CSRFToken": $.cookie('csrftoken') },
            data: payload,
            success: function (data) {
                window.location.replace("http://34.229.226.120:8000/addcard/")
            }
        })
    }
    function setBillingAddress(){
            if ($("#homepostalcheck").is(":checked")) {
                $('#bill_address1').val($('#comm_address1').val());
                // $('#bill_address1').attr('disabled', 'disabled');
                $('#bill_address2').val($('#comm_address2').val());
                $('#bill_country').val($('#comm_country').val());
                $('#bill_state').val($('#comm_state').val());
                $('#bill_city').val($('#comm_city').val());
                $('#bill_phone').val($('#comm_phone').val());
                $('#bill_email').val($('#comm_email').val());
                $('#bill_gstin').val($('#comm_gstin').val());
            }
        }

        $('#homepostalcheck').click(function(){
        setBillingAddress();
        })
</script>
{% endblock javascripts %}