<!-- <form> -->
<div class="row p-3">
    <div class="col-6">
        <div class="form-group">
            <label for="name">Organization Name</label>
            <input type="text" class="form-control" id="name" placeholder="Organization Name" required>
        </div>
    </div>
</div>

<div class="row p-3">
    <div class="col-6">
        <div class="form-group">
            <label for="comm_address1">Communication Address 1</label>
            <input type="text" class="form-control" id="comm_address1" placeholder="Communication Address 1">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="comm_address2">Communication Address 2</label>
            <input type="text" class="form-control" id="comm_address2" placeholder="Communication Address 2">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="comm_country">Communication Country</label>
            <!-- <input type="text" class="form-control" id="comm_country" placeholder="Communication Country"> -->
            <select name="state" id="comm_country" size="1" class="form-control"><option value="" selected="selected">Select Country</option></select>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="comm_state">Communication State</label>
            <!-- <input type="text" class="form-control" id="comm_state" placeholder="Communication State"> -->
            <select name="countrya" id="comm_state" size="1" class="form-control"><option value="" selected="selected">Please select Country first</option></select>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="comm_city">Communication City</label>
            <!-- <input type="text" class="form-control" id="comm_city" placeholder="Communication City"> -->
            <select name="district" id="comm_city" size="1" class="form-control"><option value="" selected="selected">Please select State first</option></select>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="comm_phone">Communication Phone</label>
            <input type="text" class="form-control" id="comm_phone" placeholder="Communication Phone">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="comm_email">Communication Email</label>
            <input type="text" class="form-control" id="comm_email" placeholder="Communication Email">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="comm_gstin">Communication GSTIN</label>
            <input type="text" class="form-control" id="comm_gstin" placeholder="Communication GSTIN">
        </div>
    </div>
</div>

<div  style="padding: 0 0 0 30px;">
    <input type="checkbox" name="homepostalcheck" id="homepostalcheck"/> &nbsp;Billing Address - same as above:
</div>

<div class="row p-3">
    <div class="col-6">
        <div class="form-group">
            <label for="bill_address1">Billing Address 1</label>
            <input type="text" class="form-control" id="bill_address1" placeholder="Billing Address 1">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="bill_address2">Billing Address 2</label>
            <input type="text" class="form-control" id="bill_address2" placeholder="Billing Address 2">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="bill_country">Billing Country</label>
            <!-- <input type="text" class="form-control" id="bill_country" placeholder="Billing Country"> -->
            <select name="state" id="bill_country" size="1" class="form-control"><option value="" selected="selected">Select Country</option></select>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="bill_state">Billing State</label>
            <!-- <input type="text" class="form-control" id="bill_state" placeholder="Billing State"> -->
            <select name="countrya" id="bill_state" size="1" class="form-control"><option value="" selected="selected">Please select Country first</option></select>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="bill_city">Billing City</label>
            <!-- <input type="text" class="form-control" id="bill_city" placeholder="Billing City"> -->
            <select name="district" id="bill_city" size="1" class="form-control"><option value="" selected="selected">Please select State first</option></select>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="bill_phone">Billing Phone</label>
            <!-- <label for="bill_phone">Billing Phone</label> -->
            <input type="text" class="form-control" id="bill_phone" placeholder="Billing Phone">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="bill_email">Billing Email</label>
            <input type="text" class="form-control" id="bill_email" placeholder="Billing Email">
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="bill_gstin">Billing GSTIN</label>
            <input type="text" class="form-control" id="bill_gstin" placeholder="Billing GSTIN">
        </div>
    </div>
</div>

<!-- Select Country: <select name="state" id="countySel" size="1">
    <option value="" selected="selected">Select Country</option>
    </select>
    <br>
    <br>
    Select State: <select name="countrya" id="stateSel" size="1"><option value="" selected="selected">Please select Country first</option></select>
    <br>
    <br>
    Select District: <select name="district" id="districtSel" size="1"><option value="" selected="selected">Please select State first</option></select><br> -->

<div class="row">
    <div class="col-12">
        <button class="btn btn-info"
            style="display: block; margin: 0 25px 20px auto; padding: 7px 30px; font-size: 16px; ; color: white;"
            onclick="showProjectForm()">Save</button>
    </div>
</div>
<!-- </form> -->