{% extends "layouts/base.html" %}

{% block title %} Project Redirect {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 style="text-align: center; margin-top: 40vh;">Thank you, your subscription process is completed.</h3>
            <h3 style="text-align: center">Log In credentials for M&E Project has been sent to your email</h3>
            <a class="btn btn-outline-info" style="display: block; margin-left: auto; margin-right: auto; width: 300px;" href="/projects">Go To Home</a>
            
        </div>
    </div>
</div>


{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}