<div class="row p-3">
    <div class="col-12">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Title" name="title">
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="5" name="description"></textarea>
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="start">Start</label>
            <input type="text" class="form-control" id="start" placeholder="Start" name="start_date">
        </div>
    </div>
    <div class="col-12">
        <div class="form-group">
            <label for="end">End</label>
            <input type="text" class="form-control" id="end" placeholder="End" name="end_date">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-info"
            style="display: block; margin: 0 25px 20px auto; padding: 7px 30px; font-size: 16px; ; color: white;"
            onclick="showSubscriptionForm()">Next</button>
    </div>
</div>
